﻿

@model ProjectCore.Logica.Models.BindingModel.ProjectsEditBindingModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form action="/Projects/Edit" method="post">
    @Html.HiddenFor(model => model.Id)


    <div class="form-group">
        <div class="col-md-12">

            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

        </div>

    </div>


    <div class="form-group">
        <div class="col-md-12">

            @Html.LabelFor(model => model.Details)
            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })

        </div>

    </div>



    <div class="form-group">
        <div class="col-md-12">

            @Html.LabelFor(model => model.ExpectedCompletionDate)
            @Html.EditorFor(model => model.ExpectedCompletionDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExpectedCompletionDate, "", new { @class = "text-danger" })

        </div>

    </div>



    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">

                <i class="fas fa-save"></i>
            </button>
            @Html.ActionLink(" ", "Index", "Projects", null, new { @class = "btn btn-primary fas fa-arrow-circle-left" })

        </div>

    </div>


</form>