﻿@model IEnumerable<ProjectCore.Logica.Models.ViewModel.ProjectsIndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Projects</h2>
<!--  los llamados con links por defecto diregen a un GET -->


@Html.ActionLink(" ", "Create", "Projects", null, new { @class = "btn btn-primary fas fa-plus-circle" })

<table class="table table-bordered">
    <tr>
        <td>Task</td>
        <td>
            @Html.DisplayNameFor(model => model.Title)

        </td>

        <td>
            @Html.DisplayNameFor(model => model.Details)

        </td>
        <td>
            @Html.DisplayNameFor(model => model.ExpectedCompletionDate)

        </td>
        <td>
            @Html.DisplayNameFor(model => model.CreatedAt)

        </td>
        <td>
            @Html.DisplayNameFor(model => model.UpdateAt)

        </td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.ActionLink(" ", "Index", "Tasks", new { projectId = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-edit" })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)


    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Details)


    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ExpectedCompletionDate)


    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)


    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdateAt)


    </td>
    <td>
        @Html.ActionLink(" ", "Edit", "Projects", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-edit" })

        @Html.ActionLink(" ", "Details", "Projects", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-info-circle" })

        @Html.ActionLink(" ", "Delete", "Projects", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-trash" })


    </td>

</tr>
    }
</table>