﻿@model ProjectCore.DAL.Models.Priorities

@{
    ViewData["Title"] = "Delete";
}

    <h2>Delete Priorities</h2>

<h3 class="badge badge-danger ">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <table class="table table-bordered">
        <tr>

            <td>
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Active)
            </td>

        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.Active)
            </td>
        </tr>

    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary ">
            <i class="fas fa-save"></i>
        </button>
        @Html.ActionLink("", "Index", "Priorities", null, new { @class = "btn btn-primary fas fa-undo-alt" })

    </form>
</div>
