﻿@model ProjectCore.DAL.Models.Priorities

@{
    ViewData["Title"] = "Edit";
}

    <h2>Edit Priorities</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary ">
                    <i class="fas fa-save"></i>
                </button>
                @Html.ActionLink("", "Index", "Priorities", null, new { @class = "btn btn-primary fas fa-undo-alt" })


            </div>
        </form>
    </div>
</div>



